<div class = "container">
  <h1> All Dragons </h1>
  <div class="cards">
    <% @dragons.each do |dragon| %>
      <div class="card-trip">
        <%= link_to dragon do   %>
          <div class="card-image">
            <%= cl_image_tag dragon.photo.key %>
          </div>
          <div class="card-trip-infos">
            <div>
              <h2> <%= dragon.name %> </h2>
              <p><%= dragon.species %></p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
