 <div class = "header">
  <div class = "container d-flex flex-column justify-content-center align-items-center">
    <div class="search-bar">
      <form>
        <div>
          <label>Destination</label>
          <input type="text" placeholder="Where are you going?">
        </div>
        <div>
          <label>Start</label>
          <input type="text" placeholder="Add date">
        </div>
        <div>
          <label>Return</label>
          <input type="text" placeholder="Add date">
        </div>
        <div>
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
