 <div class = "header">
  <div class = "container d-flex flex-column justify-content-center align-items-center">
    <div class="search-bar">
      <form>
        <div>
          <label> Find your dragon here...</label>
          <%# <input type="text" placeholder="Where are you going?">
        </div>
        <div>
          <label>Start</label>
          <input type="text" placeholder="Add date">
        </div>
        <div>
          <label>Return</label>
          <input type="text" placeholder="Add date"> %>
        </div>
        <div>
         <%= link_to dragons_path, class:"button" do %>
             Dragons <i class="fa-solid fa-dragon"></i>
            <% end %>
        </div>
      </form>
    </div>
  </div>
</div>
