.card-trip {
  overflow: hidden;
  background: white;
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'Berkshire Swash', cursive;
  padding: 35px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);

}

.dragon-booking {
  background-image: linear-gradient(rgba(199, 150, 150, 0.4),rgba(135, 135, 135, 0.4)), url("oldiepaper.jpg");
  position: relative;
  width: 700px;
  height: 500px;
  padding: 40px;
}
// .card-trip .booking {
//   height: fit-content;
// }

.card-trip a {
  text-decoration: none;
  color: black;
}

.card-image > img {
  width: 350px;
  object-fit: cover;
}

.card-image .background-img {
  opacity: 0.5;
}
.card-trip h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 25px;
  opacity: .7;
  margin: 0;
  font-family: 'Berkshire Swash', cursive;
}

.card-trip .card-trip-infos {
  padding: 16px;
  // display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  flex-grow: 1;
  text-decoration: none;
  font-family: 'Berkshire Swash', cursive;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.font{
  font-family: 'Berkshire Swash', cursive;
  text-decoration: underline;
}

.card {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 50%;
}

.card h3 {
  padding: 2px;
  margin: 8px 0;
}

.image {
  width:100%;
  clip-path: polygon(0 0, 100% 0, 100% 42%, 0 23%);
}

.dragon-info{
  background-image: linear-gradient(rgba(199, 150, 150, 0.4),rgba(135, 135, 135, 0.4)), url("map.jpeg");
  position: relative;
  width: 400px;
  height: 500px;
  padding: 40px;
}

.dragon-info1{
  background-image: url("paper.png");
  // position: centr;
  width: 600px;
  height: 900px;
  padding: 40px;
  position: center;

}
.btn-primary{
  background-color: rgba(165, 42, 42, 0.679);
  text-decoration: none;
  border: none;
  padding: 13px 15px;
  font-size: 16px;
  justify-content: center;
  font-family: 'Berkshire Swash', cursive;
  border-radius: 50px;
  margin: auto;
  color: white;
}

.form-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
