.form-rise {
  width: 400px;
  text-align: center;
  margin: auto;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}
.form-rise1{
  width: 600px;
  text-align: center;
  margin: auto;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(71, 70, 70, 0.436);
}



.form-control {
  background-color: white;
}

.form-check {
  display: flex;
  justify-content: center;

  .form-check-input {
    margin-right: 5px;
  }
}

.titles{
  font-family: 'Berkshire Swash', cursive;
  text-decoration: underline;
}
.title1{
  font-family: 'Berkshire Swash', cursive;
}
