.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo{
  font-size: 30px;
  font-weight: bold;
}

.button{
  background-color: aquamarine;
  text-decoration: none;
  color: black;
  border: none;
  padding: 13px 15px;
  display: inline-block;
  font-size: 16px;
  justify-content: left;
  font-family: 'Berkshire Swash', cursive;
}
