.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo{
font-size: 40px;
font-weight: bold;
}
