.search-bar {
  background-color: white;
  width: fit-content;
  // height: fit-content;
  // margin: 30% auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
}

.search-bar form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar input {
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}

.search-bar button {
  background-color: brown;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
}

.search-bar form button img {
  width: 15px;
  margin-top: 7px;
}
