.header {
  background-image: url("landing-page-cover");
  background-size: cover;
}

.dragon-experience-area {
  background-image: url(dragons-marquee.jpg);
  background-size: cover;
  background-position: bottom;
}

div {
  align-items: center;
  justify-content: space-between;
}
